/*
 * copyright 2013 Kartik Visweswaran <kartikv2@gmail.com>
 */
.kv-password-widget .kv-error ul {
	padding-left: 10px;
}
.kv-password-widget .kv-error ul li {
	color: #A94442;
}
.kv-password-widget .kv-verdict {
	letter-spacing: 1.5px;
	text-align: center;
	text-shadow: 1px 1px #ddd;
}